@model List<SchoolManagement.Services.ViewModels.Clasroom.ClassroomViewModel>

@{
    ViewData["Title"] = "Overview";
}
@section Styles { 
    <link rel="stylesheet" href="~/css/tableDetails.css"/>
}

<div class="container">
    @if (User.IsInRole("Admin"))
    {
        <br />
        <a class="btn btn-primary" asp-action="Create">Create classroom</a>
        <hr />
    }
    <br />
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Classroom number</th>
                <th>Capacity</th>
                <th style="text-align:center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classroom in Model)
            {
                <tr>
                    <td>@classroom.RoomNumber</td>
                    <td>@classroom.Capacity</td>
                    <td style="text-align:center">
                        <a class="btn btn-primary btn-sm" asp-controller="Exam" asp-action="Create" asp-route-classroomId="@classroom.Id">Add exam</a> |
                        <button class="btn btn-info btn-sm" id="@classroom.Id" onclick="toggle(event)">Schedule</button>
                    </td>
                </tr>

                <tr class="hide" id="row-@classroom.Id">
                    <td colspan="3">
                        @if (classroom.Subjects.Count > 0)
                        {
                            <table class="table table-bordered table-dark">
                                <tr>
                                    <th>Subject</th>
                                    <th>Exam start</th>
                                    <th>Exam end</th>
                                    <th>Exam type</th>
                                    <th>Actions</th>
                                </tr>
                                @for (int i = 0; i < classroom.Subjects.Count; i++)
                                {
                                    <tr>
                                        <td>@classroom.Subjects[i]</td>
                                        <td>@classroom.Exams[i].ExamDate.ToString("MMMM-dd-yyy hh:mm tt")</td>
                                        <td>@classroom.Exams[i].ExamEnd.ToString("MMMM-dd-yyy hh:mm tt")</td>
                                        <td>@classroom.Exams[i].ExamType</td>
                                        <td>
                                            @if (User.FindFirst(ClaimTypes.NameIdentifier).Value == classroom.Exams[i].CreatedBy || User.IsInRole("Admin"))
                                            {
                                                <form asp-controller="Exam" asp-action="ChangeExamType">
                                                    <input hidden name="examId" value="@classroom.Exams[i].Id" />
                                                    <select name="examType">
                                                        <option value="@Enums.ExamType.Undefined">Undefined</option>
                                                        <option value="@Enums.ExamType.Essey">Essey</option>
                                                        <option value="@Enums.ExamType.QuestionAnswer">Question-Answer</option>
                                                    </select>
                                                    <input type="submit" class="btn btn-primary btn-sm" value="change" />
                                                </form>
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                        else
                        {
                            <p><b>No exams scheduled</b></p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{ 
    <script src="~/js/toggleTable.js"></script>
}